


.cl:first-letter {
  font-size: 50px;
}


#encabezado {
  color: blue;

}
body {
      font-size: 20px;

}
h1 {
  font-size: 50px;
  font-family: sans-serif;
}

.piedefoto {
  font-size: 10px;
}


 footer{
   font-size: 12px;
 }
