*{
  text-align: center;
  font-family: sans-serif;
}
.burguer{
  float: right;
}

.nav{
  margin-top: 20px;
}

.cartera{
  background: pink;
  width: 25%;
  height: 120px;
  padding: 10px;
  display: inline-block;
}

@media (max-width:480px) {
  body{
    text-align: center;
  }
  .cartera{
    display: block;
  }


}
